apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: karenht/udagram-frontend:1.0.0
          ports:
            - containerPort: 8100
          envFrom:
            - configMapRef:
                name: udagram-env-config
            - secretRef:
                name: aws-secret